
<br><br>
<div class="col-lg-6">
                <% include ./partials/messages %>
<h2> Manually add a person</h1>

<form method="POST" action="/users/savePeople" autocomplete="off" id="org_form">

<div class="form-group">
        <label class="col-form-label" for="inputDefault">First Name</label>
        <span class="mandatory">
        <input type="text" class="form-control" placeholder="First Name" id="firstName" name="firstName">
    </span>    

</div>
<div class="form-group">
        <label class="col-form-label" for="inputDefault">Last Name</label>
        <span class="mandatory">
        <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName">
    </span>

</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Team :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="team_name" name="team_name">  
                <%teams.forEach(function(team){%>
                        <option value="<%=team.team_name%>"><%=team.team_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>Role :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="role_name" name="role_name">
                <%roles.forEach(function(role){%>
                        <option value="<%=role.role_name%>"><%=role.role_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>City :</p>
                </div>  
        <div class="col-lg-4">
                <input class="form-control" type="text" name="city" id="city" placeholder="City">
        </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>Country :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="country" name="country">
                <%locations.forEach(function(location){%>
                        <option value="<%=location.location_name%>"><%=location.location_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Skill Set :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="skill_name" name="skill_name">  
                <%skills.forEach(function(skill){%>
                        <option value="<%=skill.skill_name%>"><%=skill.skill_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>Login :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="login" name="login">  
                        <option value="Disabled">Disabled</option>        
                        <option value="Enabled">Enabled</option>  
                </select>
        </div>
</div>


<div class="row">                
        <div class="col-lg-3">
                        <p>Security Group :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="security_group" name="security_group">  
                        <option value="Administrator">Administrator</option>        
                        <!-- <option value="Supervisor">Supervisor</option>   -->
                        <option value="General Staff">General Staff</option>  
                </select>
        </div>
</div>





<div class="form-group">
        <label class="col-form-label" for="inputDefault">Email</label>
        <span class="mandatory">
        <input type="email" class="form-control" placeholder="Email" id="email" name="email">
        </span>    

</div>


<div class="form-group">
        <label class="col-form-label" for="inputDefault">Password</label>
        <span class="mandatory">
        <input type="password" class="form-control"  id="password1" name="password1">
    </span>

</div>

<div class="form-group">
        <label class="col-form-label" for="inputDefault">Re-enter Password</label>
        <span class="mandatory">
        <input type="password" class="form-control"  id="password2" name="password2">
        <p class="help-block"><small>Re-enter your chosen password</a> *</small></p>

</div>
<div>
<div>
        <button type="submit" class="btn btn-primary" >Save</button>

    </div>
</div>








</form>


