
<br><br>
<div class="col-lg-6">
                <% include ./partials/messages %>
<h2> Manually add a person</h1>

<form method="POST" action="/users/savePeople" autocomplete="off" id="org_form">

<div class="form-group">
        <label class="col-form-label" for="inputDefault">First Name</label>
        <span class="mandatory">
        <input type="text" class="form-control" placeholder="First Name" id="firstName" name="firstName" value="<%=firstName%>">
    </span>    

</div>
<div class="form-group">
        <label class="col-form-label" for="inputDefault">Last Name</label>
        <span class="mandatory">
        <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" value=<%=lastName%>>
    </span>

</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Team :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="team_name" name="team_name">  
                <%teams.forEach(function(team){%>
                        <option value="<%=team.team_name%>" <%=team_name == team.team_name ? 'selected':'' %>><%=team.team_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>

<div class="row col-lg-9" >                
        <div >
                        <p>Role :</p>
                </div>  
                <div class="col-lg-3"></div>
        <div class="col-lg-6">
                <select class="selectpicker form-control" id="role_name" name="role_name" multiple >
                <%roles.forEach(function(role){%>
                        <option value="<%=role.role_name%>" <%=role_name == role.role_name ? 'selected':''%>><%=role.role_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>City :</p>
                </div>  
        <div class="col-lg-4">
                <input class="form-control" type="text" name="city" id="city" placeholder="City" value="<%=city%>">
        </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>Country :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="country" name="country">
                <%locations.forEach(function(location){%>
                        <option value="<%=location.location_name%>" <%=country == location.location_name ? 'selected':''%>><%=location.location_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Skill Set :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="skill_name" name="skill_name">   
                <%skills.forEach(function(skill){%>
                        <option value="<%=skill.skill_name%>" <%=skill_name ==  skill.skill_name ? 'selected':''%>><%=skill.skill_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Organization :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="organization_name" name="organization">   
                <%orgs.forEach(function(org){%>
                        <option value="<%=org.organization_name%>" <%=organization ==  org.organization_name ? 'selected':''%>><%=org.organization_name%></option>        
                <%});%>                                      
                </select>
        </div>
</div>
<div class="row">                
        <div class="col-lg-3">
                        <p>Security Group :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="security_group" name="security_group">  
                        <option value="Administrator" <%=security_group == 'Administrator' ? 'selected':''%>>Administrator</option>        
                        <!-- <option value="Supervisor">Supervisor</option>   -->
                        <option value="General Staff"  <%=security_group == 'General Staff' ? 'selected':''%>>General Staff</option>  
                </select>
        </div>
</div>
<div class="row">
        <div class="col-lg-3">
                <p>Email :</p>
        </div> 
        <div class="col-lg-4">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email" value="<%=email%>" required>
         </div>
</div>

<div class="row">                
        <div class="col-lg-3">
                        <p>Login :</p>
                </div>  
        <div class="col-lg-4">
                <select class="custom-select" id="login" name="login" onchange="hideLogin();">  
                        <option value="Enabled" <%=login == 'Enabled' ? 'selected':''%>>Enabled</option>  
                        <option value="Disabled" <%=login == 'Disabled' ? 'selected':''%>>Disabled</option>
                </select>
        </div>
</div>


<div class="form-group" id="loginBlock">
        <label class="col-form-label" for="inputDefault">Password</label>
        <span class="mandatory">
        <input type="password" class="form-control"  id="password1" name="password1">
    </span>

        <label class="col-form-label" for="inputDefault">Re-enter Password</label>
        <span class="mandatory">
        <input type="password" class="form-control"  id="password2" name="password2">
        <p class="help-block"><small>Re-enter your chosen password</a> *</small></p>

</div>
<div>
<div>
        <button type="submit" class="btn btn-primary" >Save</button>

    </div>
</div>








</form>


<script>
function hideLogin(){
if(document.getElementById("login").value == "Disabled"){
        document.getElementById("loginBlock").style.display = "none";
}else{
        document.getElementById("loginBlock").style.display = "block";
        document.getElementById("email").value = "";
        document.getElementById("password1").value = "";
        document.getElementById("password2").value = "";
}


}
</script>