<div class="form-group col-lg-9">
        <% include ./partials/messages %>
            <h3 class="display-4">Assess People !</h3>
    <h1><%=rec.firstName%> <%=rec.lastName%> </h1>
    <h2>Skill : <b><%=rec.skillset[0].skill_name%></b></h2>
    <form action="/assess/submitAssessment" method="POST" id="testform">
    
    <div class="table-responsive">   
            <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0"  name="dataTables-qualifications" style="padding:0px; margin:0px;white-space: nowrap;" >                                                                                                       
            <thead>
                <th class="col-lg-3"><b>Skill Group</b></th>
                <th class="col-lg-3"><b>Skills</b></th>
                <th class='col-lg-2'colspan="5"><b>Proficiency</b></th>
            </thead>
            <body>                
                <tr>
                    <td colspan="2"></td>                    
                    <td align="center"><b>1</b></td>
                    <td align="center"><b>2</b></td>
                    <td align="center"><b>3</b></td>
                    <td align="center"><b>4</b></td>
                    <td align="center"><b>5</b></td>

                </tr>
            <tr>
                
                <%var sg_row=0%>
                <%rec.skillset[0].skill_group.forEach(function(sg){%>
                    
                      <td ><%=sg.skill_group_name%></td>              
                          <%var sk_row=0;%>
                          <%if(sg.skills.length==0){%>
                          <td></td>
                          </tr>
                          <%}else{%>
                          
                            <%}%>
                          <%sg.skills.forEach(function(skill){%>
                            <%if(sk_row!=0){%>
                              <tr>                                
                                <td></td>                      
                            <%}%>
                            <td><%=skill.skill%></td>
                            
                            <td align="center"><input type="radio" class="form-group" name="skillset[0]skill_group[<%=sg_row%>]skills[<%=sk_row%>]proficiency" id="<%=skill._id%>" value="1"   onclick="updateProf(1,<%=sg_row%>,<%=sk_row%>);"   <%=skill.proficiency==1 ? checked="checked":""%>></td>
                            <td align="center"><input type="radio" class="form-group" name="skillset[0]skill_group[<%=sg_row%>]skills[<%=sk_row%>]proficiency" id="<%=skill._id%>" value="2"  onclick="updateProf(2,<%=sg_row%>,<%=sk_row%>);"<%=skill.proficiency==2 ? checked="checked":""%>></td>                                
                            <td align="center"><input type="radio" class="form-group" name="skillset[0]skill_group[<%=sg_row%>]skills[<%=sk_row%>]proficiency" id="<%=skill._id%>" value="3"   onclick="updateProf(3,<%=sg_row%>,<%=sk_row%>);"<%=skill.proficiency==3 ? checked="checked":""%>></td>                                
                            <td align="center"><input type="radio" class="form-group" name="skillset[0]skill_group[<%=sg_row%>]skills[<%=sk_row%>]proficiency" id="<%=skill._id%>" value="4"  onclick="updateProf(4,<%=sg_row%>,<%=sk_row%>);"<%=skill.proficiency==4 ? checked="checked":""%>></td>                                
                            <td align="center"><input type="radio" class="form-group" name="skillset[0]skill_group[<%=sg_row%>]skills[<%=sk_row%>]proficiency" id="<%=skill._id%>" value="5"   onclick="updateProf(5,<%=sg_row%>,<%=sk_row%>);"<%=skill.proficiency==5 ? checked="checked":""%>></td>                                                       
                            <%sk_row++;%>
                          </tr>
                            <%});%>
                        </tr>
                      <%sg_row++;%>
                <%});%>
            </tr>
        </body>
            </table>
        </div>
        <input type="hidden" name="userid" id="userid" value="<%=rec._id%>">
        <div class="form-group col-lg-13" align="right" >
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


</div>

<script>
function saveAssess(id){
    var x = document.getElementById(id).value.split('/');
    console.log(x[0]);
    $.ajax({                
                type: 'POST',						
                contentType: 'application/json',
                url: '/assess/saveAssess/'+x[0]+'/'+x[1]+'/'+x[2],						
                success: function(res,custid) {

                    console.log('success');
                }
            });
    }


    function updateProf(val,sg_count,sk_count){
        console.log('dfgdfgdfg '+document.getElementById("userid").value);
        var x= document.getElementById("userid").value;
        $.ajax({                
                type: 'POST',						
                contentType: 'application/json',
                url: '/assess/updateProf/'+val+'/'+sg_count+'/'+sk_count+'/'+x,						
                success: function(res,custid) {

                    console.log('success');
                }
            });
    }
    
    function test123(id,test){
        console.log('id '+id);
        $.ajax({                
                type: 'POST',						
                contentType: 'application/json',
                url: '/assess/updateProf/'+id,						
                success: function(res,custid) {

                    console.log('success');
                }
            });
    }
    
</script>