


<div class="col-lg-9">
    <% include ./partials/messages %>
        <h3 class="display-4">Assess People !</h3>
        
   
    <a class="btn btn-primary btn-sm" href="/users/addPeople" role="button">Add a Person</a>  
                                <div class="table-responsive">   
                                    <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0"   name="dataTables-qualifications" style="white-space: nowrap;" id='test'>                                                                                                       
                                    <thead>
                                    <tr>
                                            <th>Name</th>
                                            <th>Team</th>                                            
                                            <th>Security Group</th>                                            
                                            <th>Self Assessment</th>
                                            <th>Supervisor Assessment</th>
                                            <th>Action</th>                                            
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><%=user.firstName%> <%=user.lastName%></td>
                                        <td></td>
                                        <td>Administrator</td>                                        
                                        <td></td>
                                        <td></td>
                                        <td><a href="#">Edit</a></td>
                                      </tr>
                                       
                                    <% users.forEach(function(user){%>
                                    <tr>                
                                    <td><%=user.firstName%> <%=user.lastName%></td>                
                                    <td><%=user.team_name%></td>
                                    <td><%=user.security_group%></td>                                                                                                                                                                 
                                    <td></td>
                                    <td></td>
                                    <td><a  class="btn btn-outline-primary btn-sm" href="/assess/assessPerson/<%=user._id%>" role="button">Assess Now >></a></td>                                    
                                    </tr>                                                                                                  
                                    <%});%>
                                    </tbody>                                                                                          
                                    </table>                                               
                            </div>
 
    </div>