<div class="card col-lg-9">        
    <% include ./partials/messages %>
        <h3 class="card-header"><%=user.firstName%> <%=user.lastName%></h3>        
        <div class="card-body">
                
                      <div id="myTabContent" class="tab-content">
                          <br>                 
                          
                        <div class="tab-pane fade show active" id="summery">
                                <div class="row">
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                        <div class="card-header">At a Glance </div>
                                        <div class="card-body">                                                
                                            <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0"  name="dataTables-quali"  style="width:100%;white-space: nowrap;">                                                                                                       
                                                <thead>
                                                <tr>
                                                        <th>Product</th>
                                                        <th>No of Resources</th>                                            
                                                                                                   
                                                </tr>
                                                </thead>
                                                <tbody>
                                                  <%var sknm = []%>
                                                  <%var count=1;chk=0;%>
                                                  <%var prev_skill=''%>

                                                  <%users2.forEach(function(user2){%>
                                                    <%sknm.push(user2.skill_name)%>
                                                <%});%>

                                                <%sknm.forEach(function(sk){%>
                                                  <%if(chk==0){%>                                                    
                                                  <%}%>
                                                      <%if(sk==sknm[chk+1]){%>
                                                        <%count++%>
                                                        <%}else{%>
                                                          <tr>
                                                            <td>
                                                              <%=sk%>
                                                            </td>
                                                            <td><%=count%></td>
                                                          </tr>
                                                          <%count=1%>
                                                        <%}%>
                                                  
                                                  <%chk++%>
                                                <%});%>
                                                
                                          </table>
                                          
                                        </div>
                                        
                                </div>
                                </div>
                                <br><hr>
                                <div class="alert alert-dismissible alert-primary">                                    
                                    <strong>People in the Organization</strong>
                                  </div>
                                <div class="row" >
                                  <div class="container">
                                          <div class="table-responsive">                                             
                                            <table class="table table-hover table-striped table-bordered display dt-responsive" id="datatable-people" cellspacing="0"  name="dataTables-qualifications" style="display: table-header-group;white-space: nowrap;width: 100%;table-layout: fixed;">                                                                                                       
                                            <thead>
                                            <tr>
                                                    <th>Name</th>
                                                    <th>Team</th>                                            
                                                    <th>Security Group</th>  
                                                    <th>Action</th>                                            
                                            </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td><%=user.firstName%> <%=user.lastName%></td>
                                                <td></td>
                                                <td>Administrator</td>  
                                                <td><a href="/users/editPeople/<%=user._id%>">Edit</a></td>
                                              </tr>
                                               
                                            <% users.forEach(function(user1){%>
                                              <%if(user1.email !=user.email){%>
                                            <tr>                
                                            <td><a href="/users/skillsbyPerson/<%=user1._id%>"><%=user1.firstName%> <%=user1.lastName%></a></td>                
                                            <td><%=user1.team_name%></td>
                                            <td><%=user1.security_group%></td>   
                                            <td><a  href="/users/editPeople/<%=user1._id%>" role="button">Edit</a>/
                                              <a href="/users/deletePeople/<%=user1._id%>">Delete</a>
                                            
                                            
                                            </td>                                    
                                            </tr>                                 
                                            <%}%>                                                                 
                                            <%});%>
                                            </tbody>                                                                                          
                                            </table>                                               
                                    </div>
                                    </div>
                                                          
                                </div>
<br><hr>
                                <div class="row alert alert-dismissible alert-primary">                                    
                                  <strong>Products</strong>
                                </div>

                                <div class="row">                                    
                                  <div class="container">
                                    <div class="table-responsive">   
                                        <table class="table table-hover table-striped table-hover table-bordered display dt-responsive table-header-group;" style="display: table-header-group;" id="dataTables-countries" cellspacing="0"  name="dataTables-qualifications" style="white-space: nowrap;">                                                                                                       
                                        <thead >
                                        <tr>                                            
                                                <th>Name</th>                                            
                                                <th>Action</th>                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                           
                                        <% skillsets.forEach(function(skillset){%>
                                        <tr>                                                    
                                        <td><%=skillset.skill_name%></td>                                                                                         
                                        <td><a  href="/skills/edit/<%=skillset._id%>" role="button">Edit</a> /
                                          <a  href="/skills/delete/<%=skillset._id%>" role="button">Delete</a></td>                                    
                                        </tr>                                                                                                  
                                        <%});%>
                                        </tbody>                                                                                          
                                        </table>                                               
                                        </div>
                                        </div>
                                </div>
                                <br>
                                <hr>
                                <div class="alert alert-dismissible alert-primary">                                    
                                    <strong>Roles</strong>
                                  </div>
                                <div class="row">
                                    <div class="container">
                                      <div class="table-responsive">   
                                          <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" id="datatable-role"cellspacing="0"  name="dataTables-role" style="display: table-header-group;white-space: nowrap;">                                                                                                       
                                          <thead>
                                          <tr>
                                                  <th>Name</th>                                                                                                                                       
                                                  <th>Action</th>                                            
                                          </tr>
                                          </thead>
                                          <tbody>
                                            
                                          <% roles.forEach(function(role){%>
                                          <tr>                                
                                          <td><%=role.role_name%></td>                            
                                          <td><a  href="/roles/edit/<%=role._id%>" role="button">Edit</a> /
                                            <a  href="/roles/delete/<%=role._id%>" role="button">Delete</a></td>                                    
                                          </tr>                                                                                                  
                                          <%});%>
                                          </tbody>                                                                                          
                                          </table>                                               
                                      </div>
                                    </div>
                                </div>
<br><hr>
                                <div class="alert alert-dismissible alert-primary">                                    
                                  <strong>Countries</strong>
                                </div>
                                <div class="row">       
                                  <div class="container">                             
                                    <div class="table-responsive">   
                                        <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0" id="datatable-country" name="dataTables-qualifications" style="display: table-header-group;white-space: nowrap;">                                                                                                       
                                        <thead>
                                        <tr>
                                            <th>Name</th>                                            
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                           
                                        <% locations.forEach(function(location){%>
                                        <tr>                                                       
                                        <td><%=location.location_name%></td>                                                                                         
                                        <td><a  href="/location/edit/<%=location._id%>" role="button">Edit</a> /
                                          <a  href="/location/delete/<%=location._id%>" role="button">Delete</a></td>                                    
                                        </tr>                                                                                                  
                                        <%});%>
                                        </tbody>                                                                                          
                                        </table>                                               
                                  </div>
                                  </div>
                                </div>

                                <br><hr>
                                <div class="alert alert-dismissible alert-primary">                                    
                                  <strong>Certifications</strong>
                                </div>
                                <div class="row"> 
                                  <div class="container">                                   
                                    <div class="table-responsive">   
                                        <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" id="datatable-certificate" cellspacing="0"  name="dataTables-qualifications" style="display: table-header-group;white-space: nowrap;">                                                                                                       
                                        <thead>
                                        <tr>
                                            <th>Name</th>                                            
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                           
                                        <% certifications.forEach(function(certification){%>
                                        <tr>                                                       
                                        <td><%=certification.certification_name%></td>                                                                                         
                                        <td><a  href="/certifications/edit/<%=certification._id%>" role="button">Edit</a> /
                                          <a  href="/certifications/delete/<%=certification._id%>" role="button">Delete</a></td>                                    
                                        </tr>                                                                                                  
                                        <%});%>
                                        </tbody>                                                                                          
                                        </table>                                               
                                    </div>
                                </div>
                                </div><br><br>
                        </div>
                        </div>  
                      </div>
        </div>
        
        
        </div>





<script>
    $(document).ready(function() {
        $('#dataTables-countries').DataTable({                       
            compact: false,
                responsive: true,
                "scrollX": true,
                fixedColumns: true,
                "order": []          
        });  
        $('#datatable-people').DataTable({                       
            compact: false,
                responsive: true,
                "scrollX": true,
                fixedColumns: true,
                "order": []          
        });  
        $('#datatable-role').DataTable({                       
            compact: false,
                responsive: true,
                "scrollX": true,
                fixedColumns: true,
                "order": []          
        });  
        $('#datatable-country').DataTable({                       
            compact: false,
                responsive: true,
                "scrollX": true,
                fixedColumns: true,
                "order": []          
        });  
        $('#datatable-certificate').DataTable({                       
            compact: false,
                responsive: true,
                "scrollX": true,
                fixedColumns: true,
                "order": []          
        }); 
        
      });
</script>