<br><br>
<div class="container col-lg-6">
    <% include ./partials/messages %>
<h2> Update Organization</h1>
<form method="POST" action="/organization/update/<%=rec._id%>" autocomplete="off" id="org_form">
<div class="form-group">
        <label class="col-form-label" for="inputDefault">Organization Name</label>
        <span class="mandatory">
        <input type="text" class="form-control" placeholder="Organization Name" id="organization_name" name="organization_name" value="<%=rec.organization_name%>" readonly>
    </span>    <p class="help-block"><small>The name of your organization *</small></p>

</div>
<div class="form-group" id="org_ind">
        <label class="col-form-label" for="inputDefault">Organization Industry</label>
        <span class="mandatory">
        <select class="form-control" id="organization_industry" name="organization_industry" >
            <option value="">-- Please select --</option>
            <option value="Accounting">Accounting</option>
            <option value="Advertising">Advertising</option>
            <option value="Aerospace">Aerospace</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Aircraft">Aircraft</option>
            <option value="Airline">Airline</option>
            <option value="Apparel & Accessories">Apparel & Accessories</option>
            <option value="Automotive">Automotive</option>
            <option value="Banking">Banking</option>
            <option value="Biotechnology">Biotechnology</option>
            <option value="Broadcasting">Broadcasting</option>
            <option value="Brokerage">Brokerage</option>
            <option value="Call Centers">Call Centers</option>
            <option value="Cargo Handling">Cargo Handling</option>
            <option value="Chemicals">Chemicals</option>
            <option value="Computer">Computer</option>
            <option value="Construction">Construction</option>
            <option value="Consulting">Consulting</option>
            <option value="Consumer Products">Consumer Products</option><option value="Cosmetics">Cosmetics</option>
            <option value="Defense">Defense</option>
            <option value="Department Stores">Department Stores</option>
            <option value="Ecommerce">Ecommerce</option>
            <option value="Education">Education</option>
            <option value="Electronics">Electronics</option>
            <option value="Energy">Energy</option>
            <option value="Engineering">Engineering</option>
            <option value="Entertainment & Leisure">Entertainment & Leisure</option>
            <option value="Executive Search">Executive Search</option>
            <option value="Financial Services">Financial Services</option>
            <option value="Food, Beverage & Tobacco">Food, Beverage & Tobacco</option>
            <option value="Gaming">Gaming</option>
            <option value="Government">Government</option>
            <option value="Grocery">Grocery</option>
            <option value="Health Care">Health Care</option>
            <option value="4000796463">Hospitality</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Insurance">Insurance</option>
            <option value="Internet Publishing">Internet Publishing</option>
            <option value="Investment Banking">Investment Banking</option>
            <option value="Legal">Legal</option>
            <option value="Machinery">Machinery</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Media">Media</option>
            <option value="Motion Picture & Video">Motion Picture & Video</option>
            <option value="Music">Music</option>
            <option value="Newspaper Publishers">Newspaper Publishers</option>
            <option value="Not for Profit">Not for Profit</option>
            <option value="Online Auctions">Online Auctions</option>
            <option value="Other">Other</option>
            <option value="Pension Funds">Pension Funds</option>
            <option value="Pharmaceuticals">Pharmaceuticals</option>
            <option value="Private Equity">Private Equity</option>
            <option value="Professional Services">Professional Services</option>
            <option value="Publishing">Publishing</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Retail & Wholesale">Retail & Wholesale</option>
            <option value="Securities & Commodity Exchanges">Securities & Commodity Exchanges</option>
            <option value="Shipping">Shipping</option>
            <option value="Soap & Detergent">Soap & Detergent</option>
            <option value="Software">Software</option>
            <option value="Sports">Sports</option>
            <option value="Telecommunications">Telecommunications</option>
            <option value="Television">Television</option>
            <option value="Transportation">Transportation</option>
            <option value="Trucking">Trucking</option>
            <option value="Utilities">Utilities</option>
            <option value="Venture Capital">Venture Capital</option>
        </select>
    </span>    <p class="help-block"><small>In which industry does your core business primarily operate? *</small></p>

</div>

<div class="form-group" id="org_size">
        <label class="col-form-label" for="inputDefault">Organization size</label>
        <span class="mandatory">
        <select class="form-control" id="organization_size" name="organization_size"><option value="">-- Please select --</option><option value="1-10">1 - 10 employees</option><option value="11-50">11 - 50 employees</option><option value="51-200">51 - 200 employees</option><option value="201-500">201 - 500 employees</option><option value="501-1000">501 - 1000 employees</option><option value="1001-5000">1,001 - 5,000 employees</option><option value="5001-10000">5,001 - 10,000 employees</option><option value="10000+">10,000+ employees</option>
        </select>
    </span>    <p class="help-block"><small>How many employees does your organization have in total? *</small></p>

</div>  

<div class="form-group">
        <label for="staticEmail" class="col-form-label">Your role</label>      
        <input type="text" class="form-control" id="role" name="role" placeholder="Your role" value="<%=rec.role%>"/>
      
    </span>    <p class="help-block"><small>What is your role in the organization? *</small></p>

</div>  

<div class="form-group">
        <label for="staticEmail" class="col-form-label">Your department
            </label>      
        <input type="text" class="form-control" id="department" name="department" placeholder="Your department" value="<%=rec.department%>"/>
      
    </span>    <p class="help-block"><small>In which department of the organization do you work? *</small></p>

</div> 

<div class="form-group" hidden>
    <label class="control-label">Shortcut link</label>
    <div class="form-group">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">https://app.skills-base.com/o/</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="link" name="link">
        <div class="input-group-append">              
                <button type="button" class="btn btn-outline-info">Check Availability</button>
        </div>
        </div>
        <p class="help-block"><small>Choose a shortcut link that you will use for direct access your Anthesis Expert-Ease instance. Only lowercase letters and numbers are accepted (no spaces). Note: This can't be changed, so choose wisely!</a> *</small></p>
    </div>
</div>

<button type="submit" class="btn btn-primary">Update</button>   
</form>





<div class="modal fade" id="acceptModal" role="dialog">                                    
        <div class="modal-dialog">                                
                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-header" >
                                <h4 class="modal-title">Confirm email address<strong></strong></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>                                    
                        </div>
                        <div class="modal-body">    
                                <div class="row"> 
                                        <div class="form-group col-lg-9">
                                                <label for="task_id">It's important that the email address you entered is valid and correct in order to receive the registration email to access your new instance.

                                                    Is this your correct email address?</label>
                                        </div> 
                                </div>
                        </div>
                        <div class="modal-footer">                                    
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>                    
                                <button type="submit" class="btn btn-primary" onclick="submitform()" >Yes</button>                                        
                        </div>
                </div>  
        </div>                                                                                      
</div>

<script>
    $(document).ready(function(){
        console.log('loaded');org_size
        $('#org_ind option[value="<%=rec.organization_industry%>"]').attr('selected','selected');
        $('#org_size option[value="<%=rec.organization_size%>"]').attr('selected','selected');
        
        $("#acceptBtn").click(function(){
        $("#acceptModal").modal("toggle");
        
        });       
        
    });

    function submitform(){
        document.forms['org_form'].submit();
        };
    
</script>








