<div class="col-lg-9">
                <% include ./partials/messages %>
<h2> Edit Skill</h2>        
<form method="POST" action="/skills/updateSkillGroupSkill/<%=rec.skill_group[sg_count].skills[sk_count]._id%>/<%=sg_count%>/<%=sk_count%>" autocomplete="off" id="org_form">
<div class="form-group">        
        <div class="row" hidden>
                <div class="col-lg-3">
                        <p>Catagory :</p>
                </div>
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Role Name" id="role_name" name="role_name">
                </div>
        </div>       
        
        <div class="row">                
                <div class="col-lg-3">
                        <p>Skill :</p>
                </div>  
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Skill" id="skill" name="skill" value="<%=rec.skill_group[sg_count].skills[sk_count].skill%>">
                </div>
                </div>
                
         </div>

        <div>
                <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                </div>
                </div>
        </div>
        <input type="hidden" class="form-control"  id="email" name="email" value="<%=user.email%>">

</form>

</div>