

<div class="jumbotron col-lg-6 " hidden>
    <% include ./partials/messages %>
        <h1 class="display-4">Skill Groups!</h1>
        <p class="lead">There are currently no Skills.

            Click the button below to add some skill groups for people to be assessed on.
        <hr class="my-4">        
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/skills/addSkillGroup" role="button">Add Skill Group >></a>
        </p>
      </div>

    <div class="col-lg-9">
        <% include ./partials/messages %>
    <h2>Skills Groups Directory</h2>  <a class="btn btn-primary btn-sm" href="/skills/addSkillGroup" role="button">Add a Skill Group</a>  
                                <div class="table-responsive">   
                                    <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0"  name="dataTables-qualifications" style="white-space: nowrap;">                                                                                                       
                                    <thead>
                                    <tr>                                            
                                            <th>Skills Set</th>                                            
                                            <th>Group Name</th>
                                            <th>Action</th>                                            
                                    </tr>
                                    </thead>
                                    <tbody>
                                       
                                    <% recs.forEach(function(rec){%>
                                    <tr>                                                    
                                    <td><%=rec.skill_name%></td>   
                                    <% var row=0%>                                                                                      
                                    <% rec.skill_group.forEach(function(sg){%>
                                      <%if (row!=0){%>
                                      <tr>
                                        <td></td>
                                      <%};%>
                                      <td><%=sg.skill_group_name%></td>                                   
                                    
                                    <td><a  href="/skills/editSkillGroup/<%=sg._id%>/<%=row%>" role="button">Edit</a> /
                                      <a  href="/skills/deleteSkillGroup/<%=sg._id%>" role="button">Delete</a></td>  
                                      <%row++%>
                                      <%if(row==rec.skill_group.length){%>
                                      </tr>
                                      <%};%>                                    

                                      <%});%>
                                    </tr>                                                                                                  
                                    <%});%>
                                    </tbody>                                                                                          
                                    </table>                                               
                            </div>
    </div>
    
   